@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
footer{
    background-color: black;   
    color: white;
    text-align: center;
}
marquee{
    margin-top: 15px;
}
footer a{
    color: white;
}
h4{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    margin: 50px 50px 0px 50px;
}
h4 span{
    font-weight: lighter;
}
.social-media{
    margin-top: 50px;
}
.social-media a{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.copyright{
padding-bottom: 50px;
}